<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">SPECTRA</a>
  <button class="navbar-toggler" aria-expanded="false" aria-controls="navbarColor01" aria-label="Toggle navigation" type="button" data-target="#navbarColor01" data-toggle="collapse">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li *ngFor="let item of menu" class="nav-item active">
          <a class="nav-link" routerLink="{{item.link}}"
             routerLinkActive="router-link-active"> {{item.text | uppercase}}</a>
      </li>
      <li  *ngIf="!currentUser"> <button (click)="login()" class="btn btn-warning">Login</button></li>
      <li  *ngIf="currentUser" > <button (click)="logout()" class="btn btn-danger"  >Logout</button></li>
      <li  *ngIf="currentUser"> Ciao, {{currentUser.name | uppercase}}!</li>
    </ul>
  </div>
</nav>
