<h3>Product's List <span class="badge badge-success"  *ngIf="products && products.length > 0" >{{products.length}}</span></h3>

<article class="alert alert-info" *ngIf="products && products.length > 0">
  There are {{products.length}} articles
</article>

<article class="alert alert-danger" *ngIf="products && products.length === 0">
  There are not available products
</article>



<table class="table table-bordered table-striped table-hover" *ngIf="products && products.length > 0">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Date</th>
      <th>Photo</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{product.name | uppercase}}</td>
      <td>{{product.date | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
      <td>{{product.price | currency}}</td>
      <td><img src="{{product.photo}}"></td>
      <td> <button class="btn btn-info"  (click)="showDetails(product)" >Details</button> </td>
    </tr>
  </tbody>
</table>

<div *ngIf="selectedProduct">
  <app-product-details [product]="selectedProduct"></app-product-details>
  Hai selezionato {{selectedProduct.name}}
</div>



